// ========================
//   COULEURS PRINCIPALES
// ========================

$blanc: #ffffff;
$noir: #000000;
$creme-pale: #FDFBD4;
$jaune-vif: #FFF700;
$olive-foncee: #6D7100;
$bordeaux-noir: #46001E;
$rose-sombre: #AC004A;
$orange-vibrant: #FF8800;
$rouge-intense: #FF0000;
$vert-wasabi: #2FB100;
$rose-bonbon: #FF76E6;
