@import "../../styles/variables";

.container {
  padding: 40px;
  background-color: $creme-pale;
  display: flex;
  flex-direction: column;
  gap: 74px;

  .wrapper {
    border: solid;
    border-width: 4px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .flex {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      font-family: var(--font-yellowtail);
      font-size: 36px;

      .orangeYellowtail{ 
        color: $orange-vibrant;
      }

      .redYellowtail{
        color: $rouge-intense;
      }

      .greenYellowtail{
        color: $vert-wasabi;
      }

      .pinkYellowtail{
        color: $rose-bonbon;
      }
    }

    .secondFlex {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 90px;

      img {
        border-radius: 20px;
      }

      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        figcaption {
          font-family: var(--font-allan);
          font-size: 30px;
        }
      }
    }
  }

  .borderOrange {
    border-color: $orange-vibrant;
  }
  .borderRed {
    border-color: $rouge-intense;
  }
  .borderGreen {
    border-color: $vert-wasabi;
  }
  .borderPink {
    border-color: $rose-bonbon;
  }
}

@media screen and (max-width : 768px) {
  .flex {
    font-size: 30px !important;
    
    img {
      width: 26px !important;
      height: 26px !important;
    }
  }

  .secondFlex {
    img {
      width: 200px !important;
      height: 200px !important;
    }

    figure {
      gap: 20px !important;

      figcaption {
        font-size: 25px !important;
      }
    }
  }
}