@import "../../styles/variables";

.sanjiProfile {
  display: flex;

  background: linear-gradient(
    to bottom,
    rgba(70, 0, 30, 1) 0%,
    rgba(172, 0, 74, 1) 100%
  );

  .content {
    flex: 1;
    display: flex;
    gap: 50px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    .yellowtail {
      font-family: var(--font-yellowtail);
      font-size: 54px;
      background: linear-gradient(to right, rgba(255, 247, 0, 1), rgba(109, 113, 0, 1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .sourceSans3 {
      font-family: var(--font-source-sans-3);
      font-size: 28px;
      max-width: 542px;
      color: white;
    }
  }

  .img {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
    }
  }
}

@media screen and (max-width : 1024px) {
  .sanjiProfile {
    .content {
      padding: 40px;

      .yellowtail {
        font-size: 48px;
      }

      .sourceSans3 {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width : 768px) {
  .sanjiProfile {
    display: flex;
    flex-direction: column;

    background: linear-gradient(
      to bottom,
      rgba(70, 0, 30, 1) 0%,
      rgba(172, 0, 74, 1) 50%
    );

    .sourceSans3 {
      max-width: 350px !important;
    }
  }
}